.results-wrapper {
  margin-top: 10rem;
  z-index: -1;
}
.listings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}
.dept-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.dept-name {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 0 0.8rem;
  color: #333;
}
.job-link {
  text-decoration: none;
}
.job-container {
  margin-bottom: 4rem;
  margin-right: 4.5rem;
  transition: all 0.4s ease-in-out;
}
.job-container:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.border-arrow-container {
  display: inline;
  margin: 0;
}
.border {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #999;
  margin-bottom: 1rem;
}
.arrow {
  margin: -9px -1px 0 0;
  width: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.job-container:hover .engineering-line {
  border-color: #18bfff;
  transition: all 0.1s ease-in-out;
}
.job-container:hover .customer-success-line {
  border-color: #2d7ff9;
}
.job-container:hover .marketing-line {
  border-color: #f82b60;
}
.job-container:hover .arrow {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.office-names {
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.job-title {
  color: #333;
  margin: 0.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 832px) {
  .results-wrapper {
    /* position: absolute; */
    margin-top: 8rem;
    z-index: -1;
  }
  .listings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
  }
  .dept-name-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  .dept-name {
    font-size: 1.5rem;
    margin-left: 0.8rem;
    color: #333;
  }
  .job-container {
    padding-bottom: 0;
    margin-bottom: 2rem;
    margin-right: 3rem;
    transition: all 0.4s ease-in-out;
  }
  .office-names {
    color: #666;
    font-size: 1rem;
  }
  .job-title {
    color: #333;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
  }
  .border {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #999;
    margin-bottom: 1.25rem;
  }
}
