.results-wrapper {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
}
.listings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
}
.dept-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.dept-name {
  font-size: 2rem;
  margin-left: 0.8rem;
  color: #333;
}
.job-container {
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
  margin-right: 4.5rem;
  transition: all 0.4s ease-in-out;
}
.job-container:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.border-arrow-container {
  right: 0;
}
.border {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #999;
  margin-bottom: 1.5rem;
}
.arrow {
  margin-top: -9px;
  margin-right: -1px;
  width: 10px;
}
.job-container:hover .engineering-line {
  border-color: #18bfff;
  transition: all 0.1s ease-in-out;
}
.job-container:hover .customer-success-line {
  border-color: #2d7ff9;
}
.job-container:hover .marketing-line {
  border-color: #f82b60;
}
.office-names {
  color: #666;
  font-size: 1rem;
}
.job-title {
  color: #333;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}
