html {
  font-size: 16px;
}
body {
  background-color: #fafafa;
}
.App {
  font-family: "GT Eesti";
  margin: 7rem 3rem;
}
@font-face {
  font-family: "GT Eesti";
  src: url("https://airtable.com/font/GT-Eesti-Display-Regular-2.eot")
      format("eot"),
    url("https://airtable.com/font/GT-Eesti-Display-Regular-2.ttf")
      format("ttf"),
    url("https://airtable.com/font/GT-Eesti-Display-Regular-2.woff")
      format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "GT Eesti";
  src: url("https://airtable.com/font/GT-Eesti-Display-Medium-2.eot")
      format("eot"),
    url("https://airtable.com/font/GT-Eesti-Display-Medium-2.ttf") format("ttf"),
    url("https://airtable.com/font/GT-Eesti-Display-Medium-2.woff")
      format("woff");
  font-weight: 500;
}

@media only screen and (max-width: 832px) {
  body {
    background-color: #fafafa;
  }
  .App {
    overflow-x: hidden;
    font-family: "GT Eesti";
    margin: 5rem 2.5rem;
  }
}
