#filters-container {
  display: flex;
  justify-content: center;
}
.filter-container {
  width: 14rem;
  margin-right: 2rem;
}
.dropdown {
  margin-top: 0.75rem;
}
.css-1okebmr-indicatorSeparator {
  background-color: transparent !important;
}
