#filters-container {
  justify-content: center;
  display: flex;
  width: 100%;
}
.filter-container {
  width: 14rem;
  margin-right: 2rem;
}
.filter-title {
  display: block;
  letter-spacing: 0.8px;
  font-size: 1rem;
  line-height: 1.25;
  color: #666666;
}
#ment {
  margin-left: -5px;
}
@media only screen and (max-width: 832px) {
  .filter-container {
    width: 14rem;
    margin-right: 2rem;
  }
}
